.ns__header {
    background: #137BD0;
    width: 100%;
    height: 4rem;
    margin-top: -4rem;
    padding-left: 2rem;
    position: fixed;
    display: flex;
    align-items: center;
}

.ns__header-title {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    display: block;
}

.ns__departures {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ns__departure {
    display: block;
}

.ns__departure-info,
.ns__departure-type,
.ns__departure-timedata {
    display: inline-block;
    padding: .5rem 2rem;
}

.ns__departure-info {
    width: 48%;
}

.ns__departure-type,
.ns__departure-timedata{
    width: 20%;
}

.ns__departure-type__Sprinter:before {
    content: 'sprinter';
}

.ns__departure-type__Intercity:before {
    content: 'Intercity';
}

.ns__departures .ns__departure:nth-child(even) {
    background-color: #ccc;
}

.pane.ns {
    margin-top: 4rem;
}

.ns__departure-destination-route {
    font-size: 0.75rem;
}

.ns__departure-destination {
    font-size: 1.25rem;
}

.ns__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    padding: .25rem .5rem;
    background: yellow;
    font-weight: bold;
}
